<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item style="margin-bottom: 12px;">
        <h2 style="margin: 0 auto;">Iniciar Sesión</h2>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="¡Ingresa tu usuario!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Usuario" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="¡Ingresa su contraseña!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col [nzSpan]="7">

        </div>
        <div nz-col [nzSpan]="17" style="margin-bottom: 7px; text-align: end;">
            <a class="login-form-forgot">Olvidé mi contraseña</a>
        </div>
    </div>
    <button nz-button nzType="primary" nzBlock>Entrar</button>
</form>
<button nz-button nzType="default" nzBlock (click)="toRegister()">Registrarme</button>