.custom-header {
    display: flex;
    position: fixed;
    width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25); /* Ajusta el grosor del borde según tus necesidades */
}
.name-webapp {
    font-size: xx-large;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.85);
}

nz-content {
    height: 100vh !important;
    vertical-align: middle;
    display: flex;
}

.inner-content {
	background: #242533;
    margin: auto;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
}